.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
out/
Debug/
Release/

*.nupkg
packages/
node_modules/
.vscode/

appsettings.*.json
secrets.json

*.log
*.tlog
*.cache

_ReSharper*/
*.DotSettings.user
stylecop.*

**/[Dd]ockerfile
**/[Dd]ockerignore

.idea/
