@{
	ViewBag.Title = "About Page";
}

<div class="text-center">
	<h2 class="display-2">@ViewBag.Title</h2>
	<h4 class="display-4">@ViewBag.Message</h4>
	<p>This is the About Page for our first ASP.NET Core MVC app.</p>
</div>