@{
	ViewBag.Title = "Numbers 1..." + ViewBag.Count;
}

<div>
	<h2>@ViewBag.Title</h2>
	<ul>
		@for (int i = 1; i <= ViewBag.Count; i++)
		{
			<li>@i</li>
		}
	</ul>
	<form method="post" action="/Home/NumbersToN">
		<label for="number">Enter a number:</label>
		<input type="number" name="count"/>
		<button type="submit">Submit</button>
	</form>
</div>
